html{
  background: #D9D9D9;
}

body {
  margin: 0;
  padding: 0;
  font-size: large;
}
.blog-post {
  border-top: 5px solid #00BFFF;
  padding: 20px;
  font-family:'Times New Roman', Times, serif
  background: #807C7C;
  color: #D9D9D9;
}

header {
padding: 10px;
  background: #655656
   

}

h1 {
  margin: 0;
  padding: 10px;
}

.img-container {
margin-inline: 100px;
display:inline-flexbox 100px; 
padding: 0px;

}

article {
  background: #807C7C;
  font: #fff; 
}

footer {
margin: 0px;
padding: 10px;
display: flex;
background: #655656

  
}

head {
margin: 3px;
}

.img-thumbnail {
  background:#00BFFF;
}

@media screen and (max-width: 616px) {

  }


}

@media screen and (min-width: 576px) {
  
  }
}

@media screen and (min-width: 768px) {
 
  }
}

@media screen and (min-width: 992px) {
 
  }
}

@media screen and (min-width: 1200px) {
    
  }
}